/* .offSection{
    background-image: url('https://i.postimg.cc/4NVHgyYs/off-car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 300px;
    width: 50%;
} */
/* .offSectionTwo{
    background-image: url('https://i.postimg.cc/5tC86g0Q/police-ar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 300px;
    width: 50%;
    margin-left: 110px;
} */
@media only screen and (max-width: 600px) {
    .offSectionTwo {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
  }

@media only screen and (max-width: 600px) {
    .offSection {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
  }
